body {
	background-color: white;
	font-family: Montserrat;
	font-size: 150px;
	margin: 0;
	padding: 0;
	color: #262626;
}

a {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

a:hover, a:active {
	opacity: 0.5;
}

@keyframes fadein {
	from {opacity: 0;}
	to {opacity: 1;}
}

@font-face {
	font-family: Montserrat;
	src:url('../fonts/Montserrat-Regular.otf');
}

#canvas {
	width: 80%;
	margin: 5%;
	padding: 5%;
	border-style: solid;
	border-radius: 5px;
	border-color: silver;
}

#name {
	font-size: 20%;
	text-align: center;
}

#currentTab {
	opacity: 0.5;
}

#nav ul {
	margin: auto;
	padding: 0;
	padding-top: 3%;
	text-align: center;
}

#nav ul li {
	display: inline;
	font-size: 75%;
	padding: 0 3%;
}

.content {
	animation-name: fadein;
	animation-duration: 2s;
	width: 60%;
	margin: auto;
	font-family: Georgia, serif;
	font-size: 15%;
	padding-top: 5%;
	line-height: 35px;
	text-align: center;
}

.otherlinks {
	padding-top: 5%;
}

.otherlinks img {
	width: 50px;
}

@media screen and (max-width: 640px) {

	#name img {
		width: 90%;
		margin: auto;
	}
	.content {
		width: 90%;
	}

}