body {
	background-color: white;
	font-family: Montserrat;
	font-size: 150px;
	margin: 0;
	padding: 0;
	color: #262626;
}

a {
	text-decoration: none;
	color: black;
}

a:hover, a:active {
	opacity: 0.5;
}

@font-face {
	font-family: Montserrat;
	src:url('../fonts/Montserrat-Regular.otf');
}

#canvas {
	width: 80%;
	margin: 5%;
	padding: 5%;
	border-style: solid;
	border-radius: 5px;
	border-color: silver;
}

#name {
	font-size: 20%;
	text-align: center;
}

#currentTab {
	opacity: 0.5;
}

#nav ul {
	margin: auto;
	padding: 0;
	padding-top: 3%;
	text-align: center;
}

#nav ul li {
	display: inline;
	font-size: 75%;
	padding: 0 3%;
}

#content {
	width: 60%;
	margin: auto;
	font-family: "Times New Roman", Times, serif;
	font-size: 15%;
	padding-top: 5%;
	line-height: 35px;
	text-align: center;
}

@media screen and (max-width: 640px) {

	#content {
		width: 90%;
	}

}