body {
	background-image: url('../images/bg2.gif');
	background-attachment: fixed;
	color: #F4F0E4;
	font-size: 150px;
	font-family: Georgia, serif;
}

@keyframes fade_in {
	from {opacity: 0};
	to {opacity: 0.8};
}

a {
	text-decoration: none;
	color: white;
}

@font-face {
	font-family: monospacedfont;
	src: url('../fonts/font.ttf');
}

.body {
	width: 100%;
	margin: auto;
}

.home {
	float: left;
	padding: 0.5%;
	margin-left: 1%;
	margin-top: 1%;
	font-size: 12%;
	border-style: solid;
	animation-duration: 2s;
	animation-name: fade_in;
	opacity: 0.8;
}

.mainHeader {
	color: white;
	font-size: 20%;
	text-align: center;
	width: 50%;
	margin: 0 auto;
	padding-top: 2%;
	animation-duration: 2s;
	animation-name: fade_in;
	opacity: 0.8;
}

.mainHeader h3 {
	font-size: 60%;
	text-align: center;
}

.content {
	font-size: 15%;
	line-height: 30px;
	animation-duration: 2s;
	animation-name: fade_in;
	opacity: 0.8;
}

#content1 {
	width: 90%;
	margin: 1% auto;
	padding: 1%;
	color: black;
	background-color: white;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	text-align: center;
}

#content1 div {
	padding: 5% 5%;
}

.image1 {
	max-width: 239px;
	max-height: 329px;
	width: 75%;
	height: 75%;
	opacity: 1.0;
}

#content2 {
	width: 90%;
	margin: 1% auto;
	padding: 1%;
	color: black;
	background-color: white;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	text-align: center;
}

#content2 h3 {
	text-align: center;
}

#content2 div {
	padding: 5% 5%;
}

.image2 {
	
	max-width: 266px;
	max-height: 149px;
	width: 75%;
	height: 75%;
}

#content3 {
	width: 90%;
	margin: 1% auto;
	padding: 1%;
	color: black;
	background-color: white;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	text-align: center;
}

#content3 h3 {
	text-align: center;
}

#content3 div {
	padding: 5% 5%;
}


.image3 {
	max-width: 355px;
	max-height: 145px;
	width: 75%;
	height: 75%;
}

@media only screen and (max-width: 640px) {
	.mainHeader {
    	width: 90%;
	}

	#content1 {
		width: 90%;
		margin: 3% auto;
		padding: 2%;
		float: none;
	}

	.image1 {
		float: none;
		width: 90%;
		margin: 0 5%;

	}

	#content2 {
		width: 90%;
		margin: 3% auto;
		padding: 2%;
		float: none;
	}

	.image2 {
		float: none;
		width: 90%;
		margin: 0 5%;
	}

	#content3 {
		width: 90%;
		margin: 3% auto;
		padding: 2%;
		float: none;
	}

	.image3 {
		float: none;
		width: 90%;
		margin: 0 5%;
	}
}