body {
	background-color: darkgray;
	background-image: url('images/pride.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: 'Aspira', serif;
	font-size: 200px;
	cursor: default;
}

body::-webkit-scrollbar {
    width: 10px;
}
 
body::-webkit-scrollbar-track {
	background-color: white;
    outline: 1px solid white;
}
 
body::-webkit-scrollbar-thumb {
	background-color: gray;
}

@keyframes fadeOut {
	from {opacity: 1;}
	to {opacity: 0;}
}

@font-face {
	src: url('fonts/Aspira.ttf');
	font-family: Aspira;
}

@font-face {
	src: url('fonts/Aspira Thin.ttf');
	font-family: Aspira Thin;
}

@font-face {
	src: url('fonts/Aspira Bold.ttf');
	font-family: Aspira Bold;
}

a {
	text-decoration: none;
	color: inherit;
}

@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button {
	font-family: Aspira Bold;
	transition: opacity 0.4s;
}

.button:hover {
	opacity: 0.5;
}

#banner {
	height: 100vh;
}

#nav {
	text-align: center;
	float: right;
	font-size: 20px;
	color: white;
}

#nav ul {
	list-style-type: none;
}

#nav ul li {
	display: inline;
	padding: 7px 10px;
	margin: 0 15px;
	background-color: rgba(0, 0, 0, 0.2);
	transition: background-color 0.4s;
}

#nav ul li:hover {
	background-color: rgba(0, 0, 0, 0.7);
	cursor: pointer;
}

#mobileNav {
	display: none;
	font-size: 20%;
}

#mobileNav ul {
	margin-top: 100px;
	list-style-type: none;
	padding: 0;
}

#mobileNav ul li {
	color: white;
	margin: 25px 0;
}

#innermenuButton {
	position: absolute;
	top: 15px;
	right: 20px;
	float: right;
	font-size: 15%;
}

#innermenuButton img {
	width: 45px;
	height: 45px;
}

#logo {
	background-color: rgba(0, 0, 0, 0.4);
	padding: 15px;
	color: white;
	position: absolute;
	top: 40px;
	left: 40px;
	width: 30px;
	height: 30px;
	float: left;
	font-size: 15%;
}

#introLine {
	font-size: 40%;
	text-align: center;
	color: #eaeaea;
	text-shadow: 2px 2px 8px black;
	animation-name: fadeIn;
	animation-duration: 1.5s;
}

#marquee {
	font-size: 50%;

}

#menuButton {
	display: none;
	position: absolute;
	top: 15px;
	right: 20px;
	float: right;
	font-size: 15%;
}

#menuButton img {
	width: 45px;
	height: 45px;
}

#content {
	font-family: Aspira Thin;
	background-color: lightgray;
	background-image: url('images/pattern.jpg');
	text-align: left;
}

.sectionHeader {
	background-color: white;
	width: 125%;
	transform: translateX(-10%);
	font-family: Aspira;
	margin: 50px 0;
	padding: 60px 0;
	text-align: center;
	font-size: 35px;
}

.bolded {
	font-family: Aspira Bold;
	padding-right: 3px;
}

#education {
	width: 80%;
	margin: auto;
	font-size: 12%;
}

.educationBanner {
	object-fit: cover;
	height: 150px;
	width: 100%;
	margin-bottom: 30px;
}

.educationHeader {
	font-family: Aspira Bold;
}

#leadership {
	width: 80%;
	margin: auto;
	font-size: 12%;
	padding-bottom: 60px;
}

.sidelines {
	line-height: 0.5;
	text-align: center;
}

.sidelines span {
	display: inline-block;
	position: relative;  
}

.sidelines span:before,
.sidelines span:after {
	content: "";
	position: absolute;
	height: 5px;
	border-bottom: 3px solid gray;
	top: 0;
	width: 50px;
}

.sidelines span:before {
	right: 100%;
	margin-right: 30px;
}

.sidelines span:after {
	left: 100%;
	margin-left: 30px;
}

#featured {
	width: 80%;
	margin: auto;
	font-size: 12%;
}

#featured img {
	width: 200px;
	display: inline;
	float: right;
	padding-left: 40px;
	padding-bottom: 20px;
}


@media screen and (max-width: 800px) {
	#content {
		text-align: center;
	}
	#banner {
		height: 85px;
	}
	#logo {
		position: absolute;
		top: 40px;
		left: 40px;
		width: 20px;
		height: 20px;
		float: left;
		font-size: 15%;
	}
	#nav {
		display: none;
	}
	#menuButton {
		display: block;
	}
	#intro img {
		width: 80%;
		float: none;
		padding: 0;
		margin: 0 10%;
		margin-bottom: 30px;
	}
	#introLine {
		display: none;
	}
	#education img {
		width: 80%;
		float: none;
		padding: 0;
		margin: 0 10%;
		margin-bottom: 30px;
	}
	#featured img {
		width: 80%;
		float: none;
		padding: 0;
		margin: 0 10%;
		margin-bottom: 30px;
	}
	.sectionHeader {
		padding: 30px 0;
	}
	#firstSectionHeader {
		margin-top: 0;
	}
}