body {
	background-image: url('images/bg2.gif');
	color: #000305;
	font-size: 150px;
	font-family: Arial, Helvetica, sans-serif;
}

a {
	text-decoration: none;
}

a:link, a:visited {
	color: white;
	text-decoration: none;
}

a:hover, a:active {
	color: white;
	text-decoration: none;
}

@font-face {
    font-family: curly;
    src: url('fonts/curly.ttf');
}

@keyframes fade_in {
	from {opacity: 0};
	to {opacity: 0.8};
}

.body {
	margin: 0 auto;
	width: 100%;
	clear: both;
}

.mainHeader {
	color: #FFF;
	font-family: Georgia, serif;
	font-size: 25%;
	text-align: center;
	margin-top: 7%;
	animation-duration: 2s;
	animation-name: fade_in;
	opacity: 0.8;
}

.buttons {
	float: center;
	height: auto;
	color: #FFF;
	font-family: Georgia, serif;
	font-size: 20%;
	text-align: center;
	padding-top: 2%;
	animation-duration: 2s;
	animation-name: fade_in;
	opacity: 0.8;
}

.buttons nav {
	height: 20px;
}

.buttons nav ul {
	padding-top: 4%;
	list-style: none;
}

.buttons nav ul li {
	display: inline;
	border-style: solid;
	padding: 1%;
	margin: 0 3%;
}

.logo {
	width: 98%;
	height: auto;
	font-size: 250%;
	padding-top: 1%;
	padding-left: 1%;
	padding-right: 1%;
}

@media only screen and (min-width: 150px) and (max-width: 700px) {
	.logo {
		font-size: 150%;
		width: 98%;
		padding-top: 1%;
		padding-left: 1%;
		padding-right: 1%;
	}
	.buttons nav ul li {
		display: inline-block;
		margin-top: 2%;
	}
	.buttons nav ul {
		margin-right: 6%;
	}
}