body {
	background-image: url('images/bg2.gif');
	color: #F4F0E4;
	font-size: 150px;
	font-family: "Lucida Console", monospace;
}

a {
	text-decoration: none;
	color: white;
}

@keyframes fade_in {
	from {opacity: 0};
	to {opacity: 0.8};
}

@font-face {
	font-family: monospacedfont;
	src: url('fonts/font.ttf');
}

.body {
	width: 100%;
	margin: auto;
}

.mainHeader {
	color: white;
	font-size: 25%;
	text-align: center;
	width: 80%;
	margin: 0 auto;
	padding-top: 8%;
	animation-duration: 2s;
	animation-name: fade_in;
	opacity: 0.8;
}

.buttons {
	float: center;
	height: auto;
	color: #FFF;
	font-size: 20%;
	text-align: center;
	padding-top: 2%;
	animation-duration: 2s;
	animation-name: fade_in;
	opacity: 0.8;
}

.buttons ul {
	width: 80%;
	margin: 0 auto;
	padding: 0;
}

.buttons ul li {
	display: inline-block;
	border-style: solid;
	padding: 1%;
	margin-left: 3%;
	margin-right: 3%;
	margin-top: 3%;
}

@media (max-width: 480px) {

    .mainHeader {
    	width: 90%;
	}

	.buttons {
		width: 90%;
		margin: auto;
	}

	.buttons ul li {
		margin-top: 5%;
		margin-bottom: 5%;
	}
}