body {
	background: #f5f5f5;
	margin: 0;
	font-family: 'Varela Round', sans-serif;
}

/* TOP SECTION */

.button {
	font-size: 17px;
	float: right;
	margin: 30px 45px 0 0;
	cursor: pointer;
	color: #444444;
	transition: 0.2s;
}

.button:hover {
	transform: scale(1.1);
	color: #579c57;
}

.button > a {
	text-decoration: none;
	color: inherit;
	font-weight: bold;
}

#container {
	position: relative;
	height: 85vh;
}

#name {
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 900px;
	height: 200px;
	text-align: center;
	pointer-events: none;
}

/* INTRODUCTION SECTION */

#intro {
	background: #ffffff;
}

#about {
	width: 90%;
	margin: auto;
	text-align: center;
}

#selfie {
	display: inline-block;
	width: 320px;
	vertical-align: middle;
	margin: 5%;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	pointer-events: none;
}

#bio {
	font-size: 19px;
	display: inline-block;
	width: 40%;
	text-align: left;
	vertical-align: middle;
	margin: 5%;
	color: #444444;
}

#bio > a {
	text-decoration: none;
	color: #337ab7;
	transition: 0.2s;
}

#bio > a:hover {
	color: #579c57;
}

#greeting {
	font-size: 28px;
	margin-bottom: 20px;
}

/* EXPERIENCE SECTION */

#experience {
	color: #444444;
}

#title {
	margin: 5% auto 2% auto;
	font-size: 27px;
	text-align: center;
}

#grid {
	font-size: 17px;
	width: 80%;
	margin: auto;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
}

.box {
	background: #ffffff;
	width: 46%;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	margin: 2%;
}

.logo {
	max-width: 80%;
	height: 80px;
	object-fit: contain;
	margin-top: 10%;
	pointer-events: none;
}

figcaption {
	width: 80%;
	margin: 8% auto 10% auto;
}

.role {
	font-weight: bold;
	margin-bottom: 8px; 
}

/* FOOTER */

footer {
	background: #ffffff;
	padding: 25px;
	margin-top: 20px;
	box-shadow: 0 6px 12px rgba(0,0,0,0.56);
	color: #444444;
	text-align: center;
	font-size: 17px;
}

footer > a {
	text-decoration: none;
	color: #337ab7;
	transition: 0.2s;
}

footer > a:hover {
	color: #579c57;
}

footer > img {
	width: 17px;
	vertical-align: middle;
}

/* MOBILE SETTINGS */

@media screen and (max-width: 1100px) and (orientation: portrait) {
	.button {
		font-size: 27px;
		margin: 45px 45px 0 0;
	}

	#container {
		height: 45vh;
	}

	#selfie {
		width: 50%;
		margin: 10% 10% 2% 10%;
	}

	#bio {
		width: 80%;
		font-size: 47px;
		text-align: center;
		padding-bottom: 40px;
	}

	#greeting {
		font-size: 67px;
		text-align: center;
		margin-bottom: 40px;
	}

	#title {
		font-size: 67px;
		text-align: center;
		margin-top: 80px;
		margin-bottom: 40px;
		width: 60%;
	}

	.box {
		width: 96%;
	}

	.logo {
		height: 160px;
	}

	figcaption {
		font-size: 33px;
	}

	footer {
		font-size: 27px;
		margin-top: 30px;
		padding: 40px;
	}
}